{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": "airbnb",
  "ignorePatterns": ["src/assets"],
  "overrides": [
    {
      "env": {
        "node": true
      },
      "files": [".eslintrc"],
      "parserOptions": {
        "sourceType": "script"
      }
    }
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "object-curly-newline": 0
  }
}
